h1 {
  font-family: "Alfa Slab One", cursive;
  font-size: 60px;
}

p {
  font-size: 20px;
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
}

body {
  background-color: yellow;
}
.inside-form {
  background-color: white;
  width: 50%;
  border: 10px solid black;
  border-radius: 20px;
  padding: 30px;
}
.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.form-row {
  display: flex;
  width: 100%;
}
.left-column {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding-right: 2px;
  padding-left: 25px;
  margin: 20px;
  font-size: 18px;
}
.right-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px;
  font-size: 16px;
}
.form-container {
  width: 100%;
  margin: 20px;
}
input {
  width: 75%;
}
select {
  width: 50%;
}
.radio-button {
  width: 5%;
}
.textarea {
  margin-top: 100px;
  font-size: 20px;
}
.comments {
  margin: 30px;
}
.submit {
  background-color: blue;
  color: white;
  font-size: 1em;
  height: 50px;
  width: 100px;
  border: 2px solid black;
  border-radius: 8px;
  margin: 30px;
}

.grad {
  background-image: linear-gradient(-90deg, #085dbd,rgba(255, 251, 5, 0.849),rgba(255, 251, 5, 0.849), rgb(18, 80, 194));
}

@media only screen and (max-width: 1024px) {
  .inside-form {
  width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  select {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  select {
    width: 90%;
  }
}
